
.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
}

div {
  padding: 15px 0;
}

.button {
  font-family: Helvetica;
}