
.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

body {
  font-family: monospace;
}

div {
  padding: 15px;
}

.button {
  font-family: monospace;
}